<% content_for :head do %>
  <title><%= @user.login %><%= t(:user_show_profile, :scope => :users) %> - <%= Settings.application.name %></title>
<% end %>

<div id="user_gravatar_and_links">
  <div class="grid_6">
    <h2 id="username_w_gravatar">
      <span id="user_name_gravatar">
        <%= image_tag(@user.gravatar_url(:size => 60), :title => nil, :alt => nil, :border => 0) %>
      </span>
      <span id="user_name_login">
        <span class="un_login"><%= @user.login %></span>
        <% if (@user.login != @user.name) and @user.name %>
          <span class="un_name">( <%= @user.name %> )</span>
          <% end %>
      </span>
    </h2>
  </div>
  <div class="grid_6">
    <%= render :partial => "user_links" %>
  </div>
  <div class="clear"></div>
</div>

<div id="user_profile_and_stats" id="user_profile">
  <div class="grid_6">
    <p>
      <% if @user.name != @user.login %>
        <strong><%= t(:name, :scope => :users) %></strong> <%= @user.name %>
        <br>
      <% end %>
      <strong><%= t(:email, :scope => :users) %></strong> <%= mail_to @user.email, nil, :encode => "hex", :replace_dot => " dot ", :replace_at => " at " %>
    </p>
  </div>

  <div class="grid_6" id="user_stats">
    <%= render :partial => "user_stats" %>
  </div>
  <div class="clear"></div>
</div>

<div id="user_commits_and_repositories">
  <div class="grid_6">
    <div id="repositories">
      <h2><%= t(:label, :scope => :repositories) %></h2>
      <% @user_repositories.each do |rep| %>
        <%= render "application/short_repository", :rep => rep %>
      <% end %>
    </div>
  </div>

  <div class="grid_6">
    <div id="commits">
      <h2>Latest commits</h2>
      <% for commit in @user.aq_commits.of_public_repositories.first(10) %>
        <%= render "application/short_commit", :commit => commit %>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>
</div>
