<% content_for :head do %>
  <title><%= t(:edit, :scope => :users) %> - <%= Settings.application.name %></title>
<% end %>

<div class="grid_4 prefix_4 suffix_4">
  <div id="edit_registration_form">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <p><%= f.label :email %><br />
        <%= f.email_field :email %></p>

      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>

      <p><%= f.label :password %> <i><%= t(:leave_blank_no_change_pass, :scope => :users) %></i><br />
        <%= f.password_field :password %></p>

      <p><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></p>

      <p><%= f.label :current_password %> <i><%= t(:cur_pass_to_confirm, :scope => :users) %></i><br />
        <%= f.password_field :current_password %></p>

      <p class="edit_registration_form_submit" ><%= f.submit t(:update, :scope => :links) %></p>
    <% end %>

    <p><%= t(:unhappy, :scope => :users) %> <%= link_to t(:cancel_account, :scope => :users), registration_path(resource_name), :confirm => t(:confirm, :scope => :js), :method => :delete %>.</p>

  </div>
</div>
<div class="clear"></div>
