<% form_for key do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :name %> : <%= f.text_field :name %></p>
  <p><%= f.label :key %> :<br />
    <%= f.text_area :key, :rows => 10, :cols => 100 %>
  </p>
  <p><%= f.submit t(:submit, :scope => :links) %></p>
<% end %>
