<div id="repo_browser">
  <table cellspacing=0 id="repo_files">
    <tr>
      <th class="rf_filename" >Filename</th>
      <th class="rf_updated_on" >Updated on</th>
      <th class="rf_commit_log" >Commit log</th>
    </tr>
    <% branch = "master" %>
    <% branch = params[:branch] if params[:branch] %>
    <% root_dir = "" %>
    <% root_dir = params[:dir] + "/" if params[:dir] %>
    <% tree = @grit_repo.tree(branch, root_dir) %>
    <% if params[:dir] %>
      <tr class="dir">
	<% troot = (Pathname(root_dir) + "..").to_s %>
	<% if (params[:back] == branch) || troot == "." %>
	  <td>
	    <%= image_tag("/images/icons/folder-horizontal.png", :title => t(:up, :scope => :repositories), :alt => t(:up, :scope => :repositories), :border => 0)%>
	<%= link_to "..", user_aq_repository_url(@repository.owner, @repository, :branch => branch) %></td>
	<% else %>
          <td><%= link_to "..", show_dir_user_aq_repository_url(@repository.owner, @repository, troot, :branch => branch) %></td>
	<% end %>
	<td></td>
	<td></td>
      </tr>
    <% end %>
    <% for dir in @grit_repo.tree(branch, root_dir).trees %>
      <tr class="dir">
	<td>
	  <%= image_tag("/images/icons/folder-horizontal.png", :title => dir.basename, :alt => dir.basename, :border => 0) %>
          <%= link_to dir.basename, show_dir_user_aq_repository_url(@repository.owner, @repository, root_dir + dir.basename, :branch => branch) %></td>
	<td></td>
	<td></td>
      </tr>
    <% end %>
    <% for file in tree.blobs %>
      <% if file.name != "file-index" %>
	<% a_file = nil %>
	<% a_file = @repository.branch(branch).file(file.name) %>
	<% a_file = @repository.branch("master").file(file.name) if !a_file %>
	<% a_file = @repository.file(file.name) if !a_file %>
	<% commit_time = "" %>
	<% last_log = "-- not found (#{file.name})"%>
	<% if a_file %>
	  <% commit_time = a_file.aq_commits.last.committed_time.strftime("%d/%m/%y %H:%M") %>
	  <% last_log = a_file.aq_commits.last.log.lines.first.slice(0,30) %>
	<% end %>
	<tr class="file">
	  <td>
            <%= image_tag("/images/icons/document-code.png", :title => file.name, :alt => file.name, :border => 0)%>
            <%= link_to file.name, show_file_user_aq_repository_url(@repository.owner, @repository, file.name, :branch => branch) %>
	  </td>
	  <td><%= commit_time %></td>
	  <td><%= last_log %></td>
	</tr>
      <% end %>
    <% end %>
  </table>
</div>
