<% branch = "master" %>
<% branch = params[:branch] if params[:branch] %>

<h2>
  <% if @repository.is_git? %>
    <span class="kind_git" title="git" >G</span>
  <% end %>
  <% if @repository.is_private? %>
    <span class="repo_private" title="<%= t(:repo_private, :scope => :repositories) %>" >P</span>
  <% end %>
  <%= link_to @repository.owner.login, :controller => :users, :action => :show, :id => @repository.owner %> /
  <%= link_to @repository.name, show_dir_user_aq_repository_url(@repository.owner, @repository, :branch => branch) %>
  <% if current_user && @repository.owner == current_user %>
    <%= link_to image_tag("/images/icons/pencil.png", :title => t(:edit, :scope => :repositories), :alt => t(:edit, :scope => :repositories), :border => 0), edit_user_aq_repository_url(@repository.owner, @repository) %>
  <% end %>
  <% if @repository.parent %>
    <%= link_to image_tag("/images/icons/arrow-skip-090.png", :title => t(:parent, :scope => :repositories), :alt => t(:parent, :scope => :repositories), :border => 0), user_aq_repository_url(@repository.parent.owner, @repository.parent) %>
  <% end %>
  <% if current_user && current_user != @repository.owner %>
    <%= link_to image_tag("/images/icons/arrow-split.png", :title => t(:fork, :scope => :repositories).capitalize, :alt => t(:fork, :scope => :repositories).capitalize, :border => 0), fork_user_aq_repository_url(@repository.owner, @repository.id) %>
  <% end %>
</h2>
