<% last_commit = repository.commits.first %>
<% if last_commit %>
  <div id="repo_last_commit">
    <div class="commit_sha">
      <%= t(:last_commit, :scope => :commits) %> <%= link_to last_commit.sha, show_commit_user_aq_repository_url(@repository.owner, @repository, last_commit.sha, :branch => branch) %>
    </div>

    <div class="author_name_and_date">
      <%= t(:by, :scope => :other).capitalize %> <%= last_commit.author_name %> (<%= t(:author, :scope => :commits) %>)
      <%= t(:on_l, :scope => :other) %> <%= last_commit.committed_time %>
    </div>

    <div class="commit_log">
      <%= last_commit.log %>
    </div>
  </div>
<% end %>
