<div class="branches">
  <p><strong><%= t(:branches, :scope => :repositories) %> </strong>
    <% if @repository.branches.empty? %>
      <%= t(:no_branches, :scope => :repositories) %>
    <% end %>
    <% @repository.branches.each do |br| %>
      <%= link_to br.name, user_aq_repository_url(@repository.owner, @repository, :branch => br.name) %>
    <% end %>
  </p>
  <p><strong><%= link_to t(:commits, :scope => :repositories), commits_user_aq_repository_url(@repository.owner, @repository)  %> <%= @repository.commits.count %></strong></p>
</div>
