<% content_for :head do %>
  <title><%= t(:commits_list, :scope => :repositories) %> - <%= Settings.application.name %></title>
<% end %>

<% branch = "master" %>
<% branch = params[:branch] if params[:branch] %>

<div id="repository">
  <div id="repo_infos_and_ppl">
    <div class="grid_7 alpha">
      <%= render "infos", :repository => @repository %>
    </div>

    <div class="grid_5 omega">
      <%= render "people", :repository => @repository %>
    </div>
    <div class="clear"></div>
  </div>

  <div id="repo_urls_and_branchs">
    <div class="grid_7 alpha">
      <%= render :partial => "repo_urls" %>
    </div>

    <div class="grid_5 omega">
      <%= render :partial => "repo_branch_list" %>
    </div>
    <div class="clear"></div>
  </div>

  <% if !@repository.desc.blank? %>
    <div class="grid_12 repo_desc">
      <p class="desc"><%= @repository.desc %></p>
    </div>
    <div class="clear"></div>
  <% end %>

  <% if !@repository.branches.find_by_name(branch) %>
    <div class="grid_10 prefix_1 suffix_1">
      <div class="branch_not_found"><%= t(:branch_not_found, :scope => :repositories, :branch => branch) %></div>
    </div>
    <div class="clear"></div>
  <% else %>

    <div class="grid_10 prefix_1 suffix_1">
      <div id="commits_list">
        <% if @repository.branches.size != 0 %>
          <% for commit in @commits %>
            <div class="commit">
              <div class="commit_date">
                <%= link_to "#{commit.sha.slice(0,7)}", show_commit_user_aq_repository_url(@repository.owner, @repository, commit.sha) %>...
                <%= t(:on_l, :scope => :other) %> <%= commit.date.strftime("%I:%M %p %x").downcase %>
                <%= t(:by, :scope => :other).capitalize %> <%= commit.author.name %>
                (<%= mail_to commit.author.email , nil, :encode => "hex", :replace_dot => " dot ", :replace_at => " at " %>)
              </div>
              <div class="commit_message">
                <%= commit.message %>
              </div>
            </div>
            <br />
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
</div>

<div class="grid_10 prefix_1 suffix_1 pagination_aq3">
  <%= will_paginate @commits, :container => false %>
  <div class="page_info">
    <%= page_entries_info @commits %>
  </div>
</div>
<div class="clear"></div>

<% end %>
