<% content_for :head do %>
  <title><%= t(:show_commit, :scope => :repositories) %> - <%= Settings.application.name %></title>
<% end %>

<div id="repository">
  <%= render "infos", :repository => @repository %>

  <div class="repository">

    <%= render "people", :repository => @repository %>

    <p class="desc"><%= @repository.desc %></p>

    <div id="commits_list">
      <% if @repository.branches.size != 0 %>
	<% branch = "master" %>
        <% branch = params[:branch] if params[:branch] %>
        <% commit = params[:commit_id] %>
        <% commit = @grit_repo.commit(commit) %>
        <% if commit %>
          <div class="commit">
            <div class="commit_date">
              <%# branch to url here %>
              <%= link_to "#{commit.sha.slice(0,7)}", show_commit_user_aq_repository_url(@repository.owner, @repository, commit.sha) %>...
              <%= "on: #{commit.date.strftime("%I:%M %p %x").downcase} by: #{commit.author.name} #{commit.author.email}" %>
            </div>
            <div class="commit_m=essage">
              <%= commit.message %>
            </div>
            <br />
            <div class="commit_diff">
              <% diffs = commit.diffs %>
              <% for diff in diffs %>
                <pre><%= diff.diff %></pre>
              <% end %>
            </div>
          </div>
          <br />
        <% end %>
      <% end %>
    </div>

    <div class="clear"></div>
  </div>
</div>
