<% content_for :head do %>
  <title><%= t(:commits_list, :scope => :repositories) %> - <%= Settings.application.name %></title>
<% end %>


<div id="repository">
  <div id="repo_infos_and_ppl">
    <div class="grid_7 alpha">
      <%= render "infos", :repository => @repository %>
    </div>

    <div class="grid_5 omega">
      <%= render "people", :repository => @repository %>
    </div>
    <div class="clear"></div>
  </div>

  <div id="repo_urls_and_branchs">
    <div class="grid_7 alpha">
      <%= render :partial => "repo_urls" %>
    </div>

    <div class="grid_5 omega">
      <%= render :partial => "repo_branch_list" %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="grid_12 repo_desc">
    <p class="desc"><%= @repository.desc %></p>
  </div>
  <div class="clear"></div>

  <div class="grid_10 prefix_1 suffix_1">
    <div id="commits_list">
      <% if @repository.branches.size != 0 %>
        <% for commit in @commits %>
          <div class="commit">
            <div class="commit_date">
              <%# branch to url here %>
              <%= link_to "#{commit.sha.slice(0,7)}", show_commit_user_aq_repository_url(@repository.owner, @repository, commit.sha)  %>...
              <%= "on: #{commit.date.strftime("%I:%M %p %x").downcase} by: #{commit.author.name} #{commit.author.email}" %>
            </div>
            <% # Typo '=' ? %>
            <div class="commit_m=essage">
              <%= commit.message %>
            </div>
          </div>
          <br />
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="grid_10 prefix_1 suffix_1 pagination_aq3">
  <%= will_paginate @commits, :container => false %>
  <div class="page_info">
    <%= page_entries_info @commits %>
  </div>
</div>
<div class="clear"></div>
