<% content_for :head do %>
  <title><%= t(:show_commit, :scope => :repositories) %> - <%= Settings.application.name %></title>
<% end %>

<% branch = "master" %>
<% branch = params[:branch] if params[:branch] %>
<% commit = params[:sha] %>
<% commit = @grit_repo.commit(commit) %>
<% diffs = commit.diffs %>

<div id="repository">

  <div id="repo_urls_and_branchs">
    <div class="grid_7 alpha">
      <%= render :partial => "repo_urls" %>
    </div>

    <div class="grid_5 omega">
      <%= render :partial => "repo_branch_list" %>
    </div>
    <div class="clear"></div>
  </div>

  <% if !@repository.desc.blank? %>
    <div class="grid_12 repo_desc">
      <p class="desc"><%= @repository.desc %></p>
    </div>
    <div class="clear"></div>
  <% end %>

  <div class="grid_10 prefix_1 suffix_1">
    <div id="show_commit_description">
      <div class="commit_date">
        <%= link_to "#{commit.sha.slice(0,7)}", show_commit_user_aq_repository_url(@repository.owner, @repository, commit.sha) %>...
        <%= t(:on_l, :scope => :other) %> <%= commit.date.strftime("%I:%M %p %x").downcase %>
        <%= t(:by, :scope => :other).capitalize %> <%= commit.author.name %>
        (<%= mail_to commit.author.email , nil, :encode => "hex", :replace_dot => " dot ", :replace_at => " at " %>)
      </div>
      <div class="commit_m=essage">
        <%= commit.message %>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="grid_10 prefix_1 suffix_1">
    <div id="show_commit_file_list">
      <ul>
        <% diff_x = 0 %>
        <% diffs.each do |diff| %>
          <% classLI = "diff_present_file" %>
          <% classLI = "diff_deleted_file" if diff.deleted_file %>
          <% classLI = "diff_new_file" if diff.new_file %>
          <li class="<%= classLI %> list_file_diff"><a href="#diff-<%= diff_x %>"><%= diff.a_path %></a></li>
          <% diff_x += 1 %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="clear"></div>

  <div class="grid_10 prefix_1 suffix_1">
    <div id="show_commit">
      <% diff_x = 0 %>
      <% for diff in diffs %>
        <a name="diff-<%= diff_x %>"></a>
        <div class="show_commit_head">
          <span class="list_file_diff"><%= diff.a_path %></span>
        </div>
        <div class="commit_diff">
          <% cache Digest::SHA1.hexdigest(diff.diff) do %>
            <%= highlight("commit.diff", "text/plain", diff.diff, {:O => "linenos=Table,nowrap=False"}).html_safe %>
          <% end %>
          <% diff_x += 1 %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
