<% content_for :head do %>
  <title><%= t(:file_view, :scope => :repositories) %> - <%= Settings.application.name %></title>
<% end %>

<%= render :partial => "shared/flash_messages" %>

<% branch = "master" %>
<% branch = params[:branch] if params[:branch] %>
<% root_dir = "" %>
<% root_dir = params[:file_path] + "/" if params[:file_path] %>
<% root_dir = (Pathname(root_dir) + "..").to_s + "/" %>
<% if root_dir == "." or root_dir == "./" %>
  <% root_dir = "" %>
<% end %>

<div id="repository">
  <div id="repo_infos_and_ppl">
    <div class="grid_7 alpha">
      <%= render "infos", :repository => @repository %>
    </div>

    <div class="grid_5 omega">
      <%= render "people", :repository => @repository %>
    </div>
    <div class="clear"></div>
  </div>

    <div id="repo_urls_and_branchs">
    <div class="grid_7 alpha">
      <%= render :partial => "repo_urls" %>
    </div>

    <div class="grid_5 omega">
      <%= render :partial => "repo_branch_list" %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="grid_12 repo_desc">
    <p class="desc"><%= @repository.desc %></p>
  </div>
  <div class="clear"></div>

  <div class="grid_10 prefix_1 suffix_1">
    <%= render "last_commit", :repository => @repository, :branch => branch %>
  </div>
  <div class="clear"></div>

  <div class="grid_10 prefix_1 suffix_1">
    <div class="view_file_path">
      <% path = "" %>
      <% path = (Pathname(params[:file_path] + "/") + "..").to_s if params[:file_path] %>
      <p>
        <%= link_to @repository.name, show_dir_user_aq_repository_url(@repository.owner, @repository, :branch => branch) %> /
        <% old_path = [] %>
        <% path.split("/").each do |p| %>
          <% if p != "." %>
            <% act_path = (old_path + [p]).join("/") %>
            <%= link_to p, show_dir_user_aq_repository_url(@repository.owner, @repository, act_path, :branch => branch) %>
            /
          <% end %>
          <% old_path << p %>
        <% end %>
        <%= params[:file_path].split("/").last %> (<%= params[:branch] || "master" %>)</p>
    </div>
  </div>
  <div class="clear"></div>

  <% if (a_file = @grit_repo.tree(branch) / params[:file_path]) %>
    <div class="grid_10 prefix_1 suffix_1">
      <div id="vfi_mode_lines_size">
        <span class="file_browser_mode" title="File mode">Mode: <%= a_file.mode %></span>
        <span class="file_browser_separator">|</span>
        <span class="file_browser_lines"><%= a_file.data.split("\n").size %> lines</span>
        <span class="file_browser_separator">|</span>
        <span class="file_browser_size"><%= a_file.size %> bytes</span>
        <span class="vfi_raw">raw</span>
      </div>
    </div>
    <div class="clear"></div>
  <% end %>

  <div class="grid_10 prefix_1 suffix_1">
    <div id="view_file">
      <% if (a_file = @grit_repo.tree(branch) / params[:file_path]) %>
        <% if is_text? a_file.mime_type %>
          <% cache Digest::SHA1.hexdigest(a_file.data) do %>
            <%= highlight(a_file.name, a_file.mime_type, a_file.data, {:O => "linenos=Table,nowrap=False"}).html_safe %>
          <% end %>
        <% elsif is_image? a_file.mime_type %>
          Images currently not implemented
        <% else %>
          Can't be displayed
        <% end %>
      <% else %>
        <span id="file_browser_no_such_file">Woops, the requested file can't be found !</span>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
