<% content_for :head do %>
  <title><%= t(:file_view, :scope => :repositories) %> - <%= Settings.application.name %></title>
<% end %>

<div id="repository">
  <div id="repo_infos_and_ppl">
    <div class="grid_7 alpha">
      <%= render "infos", :repository => @repository %>
    </div>

    <div class="grid_5 omega">
      <%= render "people", :repository => @repository %>
    </div>
    <div class="clear"></div>
  </div>

    <div id="repo_urls_and_branchs">
    <div class="grid_7 alpha">
      <%= render :partial => "repo_urls" %>
    </div>

    <div class="grid_5 omega">
      <%= render :partial => "repo_branch_list" %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="grid_12 repo_desc">
    <p class="desc"><%= @repository.desc %></p>
  </div>
  <div class="clear"></div>


  <div class="grid_10 prefix_1 suffix_1">
    <div id="view_file">
      <% if @repository.branches.size != 0 %>
	<% branch = "master" %>
	<% branch = params[:branch] if params[:branch] %>
	<% root_dir = "" %>
        <% root_dir = params[:file_path] + "/" if params[:file_path] %>
        <% root_dir = (Pathname(root_dir) + "..").to_s %>
        <% if root_dir == "." %>
          <% root_dir = "" %>
        <% end %>
        <% tree = @grit_repo.tree(branch, root_dir) %>
        <% if params[:file_path] %>
          <% blobs = tree.blobs %>
          <% if blobs %>
            <% blobs.each do |a_blob| %>
              <% if a_blob.name == params[:file_path].split("/").last %>
                <% if a_blob.mime_type =~ /^(text)\/(.*)$/ %>
                  <pre><%= a_blob.data %></pre>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
