<% content_for :head do %>
  <title><%= t(:file_view, :scope => :repositories) %> - <%= Settings.application.name %></title>
<% end %>

<div id="repository">
  <div id="repo_infos_and_ppl">
    <div class="grid_7 alpha">
      <%= render "infos", :repository => @repository %>
    </div>

    <div class="grid_5 omega">
      <%= render "people", :repository => @repository %>
    </div>
    <div class="clear"></div>
  </div>

    <div id="repo_urls_and_branchs">
    <div class="grid_7 alpha">
      <%= render :partial => "repo_urls" %>
    </div>

    <div class="grid_5 omega">
      <%= render :partial => "repo_branch_list" %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="grid_12 repo_desc">
    <p class="desc"><%= @repository.desc %></p>
  </div>
  <div class="clear"></div>

  <div class="grid_10 prefix_1 suffix_1">
    <%= render "last_commit", :repository => @repository %>
  </div>
  <div class="clear"></div>

  <div class="grid_10 prefix_1 suffix_1">
    <div class="view_file_path">
      <% path = "" %>
      <% path = (Pathname(params[:file_path] + "/") + "..").to_s if params[:file_path] %>
      <p>
        <%= link_to @repository.name, :action => :show, :id => @repository.id %> /
        <%= path %> / <%= params[:file_path].split("/").last %> (<%= params[:branch] || "master" %>)</p>
    </div>

    <div id="view_file">
      <% if @repository.branches.size != 0 %>
	<% branch = "master" %>
	<% branch = params[:branch] if params[:branch] %>
	<% root_dir = "" %>
        <% root_dir = params[:file_path] + "/" if params[:file_path] %>
        <% root_dir = (Pathname(root_dir) + "..").to_s + "/" %>
        <% if root_dir == "." or root_dir == "./" %>
          <% root_dir = "" %>
        <% end %>
        <% tree = @grit_repo.tree(branch, root_dir) %>
        <% if params[:file_path] %>
          <% blobs = tree.blobs %>
          <% if blobs %>
            <% blobs.each do |a_blob| %>
              <% if a_blob.name == params[:file_path] %><%# .split("/").last # Not needed ??? %>
                <% puts a_blob.mime_type %>
                <% if is_text? a_blob.mime_type %>
                  <%= highlight(a_blob.name, a_blob.mime_type, a_blob.data).html_safe %>
                <% elsif is_image? a_blob.mime_type %>
                  Images currently not implemented
                <% else %>
                  Can't be displayed
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
