<% content_for :head do %>
  <title><%= t(:label, :scope => :admin) %> - <%= Settings.application.name %></title>
<% end %>

<%= render :partial => "shared/flash_messages" %>

<div class="grid_12">
  <div id="admin_index">
    <ul>
      <li><%= link_to t(:manage_users, :scope => :admin), admin_users_url %></li>
      <li><%= link_to t(:manage_sshkeys, :scope => :admin), admin_sshkeys_url %></li>
      <li><%= link_to t(:manage_repositories, :scope => :admin), admin_repositories_url %></li>
    </ul>
  </div>
</div>
<div class="clear"></div>
