<% content_for :head do %>
  <title><%= t(:sign_in, :scope => :sessions) %> - <%= Settings.application.name %></title>
<% end %>

<div class="grid_4 prefix_4 suffix_4">
  <div id="login_form">

    <%- form_for @user_session do |f| %>
      <p><%= f.label :login %><br />
        <%= f.text_field :login %></p>

      <p><%= f.label :password %><br />
        <%= f.password_field :password %></p>

      <p class="login_form_submit"><%= f.submit t(:sign_in, :scope => :sessions) %></p>
    <% end %>


  </div>
</div>
<div class="clear"></div>
